    @import url("https://fonts.googleapis.com/css2?family=El+Messiri");
    * {
        margin: 0;
        padding: 0;
        font-family: "El Messiri", sans-serif;
    }
    
    body {
        background: #031323;
        overflow: hidden;
    }
    
    .navbar-custom {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 1vw;
        padding: 10px 20px;
        box-sizing: border-box;
        width: 98vw;
        height: 70px;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(20px);
        border-radius: 10px;
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
        color: #000;
    }
    
    .navbar-custom h3 {
        margin: 0;
        font-weight: bolder;
        color: #fff;
    }
    
    .custom-nav-bar-items {
        display: flex;
    }
    
    .custom-nav-bar-items a {
        text-decoration: none;
        color: #fff;
        padding-left: 20px;
    }
    
    .custom-nav-bar-items a:hover {
        color: #ffc;
    }
    
    .title a {
        color: #fff;
        text-decoration: none;
    }
    
    .account_name {
        margin-left: 30px;
    }
    
    .title a:hover {
        color: #ffc;
    }
    
    #nav-selected {
        color: rgb(57, 61, 4);
    }
    
    #custom-container {
        position: absolute;
        top: 0;
        height: calc(100vh - 50px);
        width: 100vw;
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }
    
    .messages {
        position: absolute;
        top: 90px;
        margin: 10px 1vw;
        padding: 10px 20px;
        box-sizing: border-box;
        width: 98vw;
        min-height: 40px;
        text-align: center;
        color: #fff;
        background: rgba(0, 255, 0, 0.4);
        backdrop-filter: blur(20px);
        border-radius: 10px;
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    }
    
    .messages li {
        list-style-type: none;
    }
    
    .main-content {
        position: relative;
        top: 90px;
        width: 100vw;
        padding: 10px;
        height: calc(100vh - 140px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    .sub-container {
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(20px);
        border-radius: 10px;
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    }
    
    .sub-container-heading {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        color: #fff;
        padding: 5px;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(20px);
        border-radius: 10px 10px 0 0;
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    }
    
    .sub-container-heading h2 {
        margin: 0;
    }
    
    .sub-container-body {
        padding: 10px;
        height: calc(100% - 60px);
        overflow-y: auto;
    }
    
    .sub-container-body-message {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100% - 60px);
    }
    
    .single-content {
        color: #fff;
        padding: 20px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(20px);
        border-radius: 10px;
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
        margin-bottom: 10px;
    }
    
    .single-content-details p:last-of-type {
        margin-bottom: auto;
    }
    
    .participant-list {
        position: relative;
        left: 50px;
        color: #fff;
    }
    
    .footer {
        position: fixed;
        width: 100%;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-family: sans-serif;
        font-size: .7em;
        height: 50px;
    }
    /* width */
    
     ::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
    
     ::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.1);
        ;
    }
    /* Handle */
    
     ::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.5);
    }
    /* Handle on hover */
    
     ::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 255, 255, 0.8);
    }