{% extends "main/base.html" %} {% load static %} {% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'user/style/user.css' %}"> {% endblock style %} {% block container %}

<div class="sub-container">
    <div class="sub-container-heading">
        <h2>Team List</h2>
    </div>
    <div class="sub-container-body">
        {% if not teams %}
        <div class="sub-container-body-message">
            No Team Available
        </div>
        {% endif %} {% for team in teams %}
        <div class="single-content">
            <h3>{{ team.teamname }}</h3>
            <div class="single-content-details">
                <p>Captain: {{ team.user.first_name }} {{ team.user.last_name }}</p>
                <p>Participants: {% for p in team.participants.all %}
                    <span>{{ p.user.first_name }}, </span> {% endfor %}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock container %}