{% extends "main/base.html" %} {% block container %}
<div class="">
    <h1 class="main-heading">Welcome to PAS Happy Hours | Virtual Games – Game of Genres | Music Mania</h1>
    <div class="rules">
        <p>Virtual Live Games exclusively for PAS members.</p>
        <p>Date : 17<sup>th</sup> December 2021</p>
    </div>
    <h1>Rules</h1>

    <ul class="rules">
        <li>Minimum 3 members to form a team</li>
        <li>Each member in a team has to register and login to play the games</li>
        <li>There are different rounds for each game</li>
        <li>The winners are selected based on the time spent on each level - the lower the time, the higher the chance to the next level</li>
        <li>Each answer need to be entered in CAPITAL LETTERS, for example, if the answer is ‘I am apple’, it should be entered in the answer field as ‘I AM APPLE’</li>
    </ul>
    <h1>Schedules</h1>
    <ul class="rules"></ul>
</div>
{% endblock container %}